<section class="home">
  <div class="container">
    <div class="home__content">
      <div class="home__main">
        <div class="home__text">
          <h1 class="home__title">
            <span class="home__title-decor">
              <img src="/img/svg/sun.svg" alt="Sun">
            </span>
            Get <span class="home__title-italic">Body</span> in shape, Stay healthy
          </h1>
          <p class="home__description">
            Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition
            support.
          </p>
        </div>
        <div class="home__sidebar">
          <div class="home__image-small">
            <img src="./img/f160f7810cea23bed860734e12e1a81def3d668a.jpg"
              srcset="./img/f160f7810cea23bed860734e12e1a81def3d668a.jpg 1x, ./img/f160f7810cea23bed860734e12e1a81def3d668a-2x.jpg 2x"
              alt="Women exercising outdoors" loading="lazy" decoding="async">
          </div>
          <ul class="home__hashtags" aria-label="Topics">
            <li class="home__hashtags-item">#Sport</li>
            <li class="home__hashtags-item">#Healthy</li>
            <li class="home__hashtags-item">#Workout</li>
            <li class="home__hashtags-item">#Diet</li>
          </ul>
        </div>
      </div>
      <div class="home__hero">
        <img src="./img/71236a8cc6b04d6a87e15feef63b9cb64728b379.jpg"
          srcset="./img/71236a8cc6b04d6a87e15feef63b9cb64728b379.jpg 1x, ./img/71236a8cc6b04d6a87e15feef63b9cb64728b379-2x.jpg 2x"
          alt="Abductors exercise" decoding="async">
      </div>
    </div>
  </div>
</section>
