/* DM Sans Font Face */
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* DM Sans Italic */
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
